<ion-header>
  <ion-toolbar><ion-buttons slot="start"></ion-buttons>
    <div class="row m-0">
      <div class="col-4"><ion-menu-button></ion-menu-button></div>
      <div class="col-4 p-0"><ion-title style="text-align: center">About Us</ion-title> </div> 
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding >
    <img src="assets/about/abouts.png">
  </div>

  <ion-card class="bg-white" no-margin>
  
      <ion-card-title margin-bottom style="text-align: center">
        <ion-text color="primary" style="text-align: center" ><strong>Values at Wheat Guard</strong></ion-text>
      </ion-card-title>
      <ion-card-content>
      <ion-card-subtitle><strong>Our Mission</strong></ion-card-subtitle>
      <p margin-bottom>
        Wheat Guard is a multi-platform application that examines and identifies early stage wheat diseases and provides effective and efficient solutions to pesticide companies. We at Wheat Guard believe in educating farmers about wheat production issues that will also improve the working conditions and quality of crop and minimize the loss of wheat.
      </p></ion-card-content>
      <ion-card-content>
        <ion-card-subtitle><strong>Our Vision</strong></ion-card-subtitle>

      <p>
        Our ambition is to improve health of every Pakistani, by revolutionizing the agriculture industry to nourish crops using Artificial Intelligence.
      </p></ion-card-content>
      <ion-card-content>
        <ion-card-subtitle><strong>More About us</strong></ion-card-subtitle>

<p>
      Wheat Guard is a multi-platform application that uses artificial intelligence (Machine Learning, Deep Learning) to diagnose multiple diseases in wheat crops. In addition to disease detection, the application provides an appropriate solution to the diagnosed disease. Every year millions of tons of wheat is wasted owing to different diseases. Dealing with the diseases promptly at an early stage will result in a salubrious crop and would produce a high yield. Wheat Guard will serve as a bridge between pesticide companies and farmers. Our utmost priority is to help farmers via a channel of pesticide companies.</p>
    </ion-card-content >
  </ion-card>
<ion-card-content style="margin-left: 50px"> <ion-button  href="https://www.facebook.com/wheatguard"><ion-icon name="logo-facebook" ></ion-icon></ion-button>
  <ion-button href="https://www.instagram.com/wheatguardpak"><ion-icon name="logo-Instagram" ></ion-icon></ion-button>
  <ion-button href="https://www.linkedin.com/company/wheatguard"><ion-icon name="logo-Linkedin" ></ion-icon></ion-button>
  <ion-button href="mailto:info@wheatguardpk.com"><ion-icon name="Mail" ></ion-icon></ion-button>
 <br><p style="margin-left: 50px">Find Us on Social Media
    </p>
</ion-card-content>
</ion-content>